.rbenv/
.pyenv/
.oh-my-zsh
.vim/
Templates/
Videos/
Pictures/
src/
Music/
.mozilla/
Downloads/
.fonts/
.kde/
Projects/**/*.ova
Projects/**.iso
.xsession-errors
.face
.cache/
.git
Desktop/
.x*
newsboat/cache.db
.zsh_history
.zcompdump
.zcompdump*
.local/*
.local/share
